[Bb]in/
[Oo]bj/

.vs/
*.suo
*.user
*.bak
*.csproj.user
*.sln.docstates

# Build results
*.exe
*.dll
*.pdb
*.map
*.aps
*.metadb
*.unitypackage
*.orig
*.swp
*.lock
*.log

packages/
*.nupkg

.DS_Store

tmp/
temp/
[Tt]emp/

.idea/

*.config 
appsettings.Development.json

Library/
Temp/
UnityPackageManager/
ProjectSettings/
UserSettings/